button {
    min-width: 120px;
    min-height: 20px;
    padding: 10px 20px;
    background-color: rgb(236, 236, 236);
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(194, 194, 194);
}

.disabled {
    background-color: rgb(233 233 233) !important;
    color: #bdbdbd !important;
    border: 1px solid #919191 !important;
}

button.disabled:hover {
    background-color: rgb(233 233 233) !important;
}

.primary {
    background-color: rgb(35 136 157);
    color: #fbfbfb;
    border: 1px solid #288ca1;
}
button.primary:hover {
    background-color: #3aaac9
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c3c3c3c3;
    width: 100%;
}

.form-flex {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.s-2x {
    width: 2px;
}
.s-3x {
    width: 3px;
}
.s-4x {
    width: 4px;
}
.s-5x {
    width: 5px;
}